:root{
    
--blush-em-po: #ffa69eff;
--casca-de-ovo: #faf3ddff;
--azul-gelo: #b8f2e6ff;
--azul-claro: #aed9e0ff;
--texto: "Share Tech", sans-serif;
--titulo: "Archivo Blac", sans-serif;
}

body{
background-color: var(--blush-em-po);
font-family: var(--texto);
}
header{
    background-color: var(--casca-de-ovo);

}